<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @status.user.full_name %></br>
  
  
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<hr/>


	<%= status_document_link @status %>
	<hr/>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
