
<div class="row">
	<div class="col-md-4">
		
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well form-vertical well-small"}) do |f| %>
		  	<fieldset>
		  		<legend>Sign In</legend>
			  <%= f.input :email %>
			  <%= f.input :password %>

			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.input :remember_me, as: :boolean %> </div>
			  <% end -%>

			  <div><%= f.button :submit, "Sign in" %></div>
			</fieldset>
		<% end %>

	</div>
	<div class="col-md-8">
		<h2> Don't have an account? Sign Up!</h2>
		<h3>You're minutes from being able to practice another language.</h3>

	<%= render "devise/shared/links" %>

	</div>
</div>